.logo-wolve{
    fill: transparent;
    font-size: 200px;

    -webkit-animation: slide-out-fwd-center 3s cubic-bezier(0.600, -0.280, 0.735, 0.045) 2s both;
	        animation: slide-out-fwd-center 3s cubic-bezier(0.600, -0.280, 0.735, 0.045) 2s both;
}

.logo{
    transition: .2s ease;
    transform-origin: center center;
    transform-box: fill-box;
    &:hover{
        transform: scale(2.35);
    }
}

@keyframes logo-wolve {
    0% {
        -webkit-transform: translateZ(1);
                transform: translateZ(1);
        opacity: 1;
      }
      100% {
        -webkit-transform: translateZ(600px);
                transform: translateZ(500px);
        opacity: 0;
      }
    }
    @keyframes slide-out-fwd-center {
      0% {
        -webkit-transform: translateZ(1);
                transform: translateZ(1);
        opacity: 1;
      }
      100% {
        -webkit-transform: translateZ(600px);
                transform: translateZ(600px);
        opacity: 0;
      }
    }
    
    

/*
.line1{
    animation: line 2s ease infinite alternate;
}

.line2{
    animation: line 2s ease .3s infinite alternate;
}

.line3{
    animation: line 2s ease 2s infinite alternate;
}

.line4{
    animation: line 2s ease infinite alternate;
}

@keyframes line{
    0%{
        stroke-dasharray: 200 50;
        stroke-dashoffset: 0;
    }
    100%{
        stroke-dasharray: 500 5;
        stroke-dashoffset: 1000;
    }
}*/