$blue: rgb(028,054,094);
$blue-dark: rgb(012,017,023);
$blue-light: rgb(083,133,197);

$yellow: rgb(252,224,090);
$yellow-dark: rgb(133,116,057);
$yellow-light: rgb(254,239,151);

$white: #EDF1F7;
$white-dark: #E5E9EF;
$white-light: #F4F7FB;

$gray-1: #B5B6B8;
$gray-2: #A1A3A5;
$gray-3: #959698;

